.casestats-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;

  > .stats-top {
    display: flex;
    flex-direction: row;
    gap: 36px;

    > .rarity-stats {
      display: flex;
      flex-direction: column;
      gap: 6px;
      width: 100%;
      border-radius: 8px;
      box-sizing: border-box !important;

      > .stat {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 100%;

        > .stat-name {
          font-size: 12px;
        }

        > .bar {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          height: 36px;
          background: rgba(0, 0, 0, 0.5);
          border-radius: 6px;
          overflow: hidden;

          > .bar-inner {
            height: 100%;
          }

          > .bar-label {
            position: absolute;
            left: 8px;
            font-size: 12px;
            color: whitesmoke;
          }
        }
      }

      > .gold-items {
        .bar-inner {
          background: #ffe600;
        }
      }

      > .stattrak-items {
        .bar-inner {
          background: #cf6a32;
        }
      }

      > .covert-items {
        .bar-inner {
          background: #eb4b4b;
        }
      }

      > .classified-items {
        .bar-inner {
          background: #d32ee6;
        }
      }

      > .restricted-items {
        .bar-inner {
          background: #8847ff;
        }
      }

      > .milspec-items {
        .bar-inner {
          background: #4b69ff;
        }
      }
    }

    > .general-stats {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 6px;

      > .stats-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 8px;

        > .stats-item {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 4px;
          width: 100%;
          border-radius: 8px;
          box-sizing: border-box !important;
          background: rgba(0, 0, 0, 0.5);
          padding: 16px;

          > #total-cash-invested {
            position: relative;
            filter: blur(6px);
            transition: all 0.2s ease-in-out;
            user-select: none;

            &:hover {
              filter: blur(0px);
              user-select: auto;
            }
          }
        }
      }

      > .last-pulled-golds {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 220px;
        gap: 8px;

        > .lpg-container {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 100%;
          height: 100%;
          overflow-x: hidden;
          overflow-y: scroll;

          > .pulled-item {
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.5);
            box-sizing: border-box !important;
            border-radius: 6px;
            min-width: 240px;
            min-height: 100px;
            height: 100px;
            max-height: 100px;
            padding: 8px;
            gap: 12px;
          
            > .item-image {
              width: 90px;
              height: 65px;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }
    }
  }

  > .stats-bottom {
    display: flex;
    flex-direction: column;
    gap: 6px;
    
    > .last-pulled-items {
      display: flex;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      min-height: 60px;
      width: 100%;
      overflow: hidden;

      > .title {
        width: fit-content;
        height: fit-content;
        margin-left: 12px;
        font-size: 12px;
        text-wrap: nowrap;
      }

      > .lpi-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 8px;
        overflow-x: scroll;
        box-sizing: border-box !important;
        padding: 8px;
        padding-bottom: 2px !important;

        > .pulled-item {
          display: flex;
          align-items: center;
          background: rgba(0, 0, 0, 0.3);
          box-sizing: border-box !important;
          border-radius: 6px;
          min-width: 240px;
          min-height: 100px;
          height: 100px;
          max-height: 100px;
          padding: 8px;
          gap: 12px;
        
          > .item-image {
            width: 90px;
            height: 65px;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }

  > .fetch-container {
    display: flex;
    flex-direction: row;
    gap: 6px;

    .btn-primary {
      width: fit-content;
      padding: 4px 12px;
      background: #1a9fff;
      color: #e5e4dc;
      transition: all 0.25s ease-in-out;
      outline: none;
      border: none;
      cursor: pointer;

      &:hover:not(:disabled) {
        color: #ffffff;
        background: #00bbff;
      }

      &:disabled {
        opacity: 50%;
        color: #959595;
        transition: all 0.05s ease-in-out;
      }
    }
  }

  > .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 6px;

    > .footer-item {
      font-size: 12px;
      color: #959595;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #ffffff;
      }
    }

    #version {
      margin-left: auto;
    }
  }
}